Attached is a PDF which contains the scan results of the SAINT Network Vulnerability
scanner for your group. Each person CC'd has been automatically determined to have
at least one server in the report that they are responsible for according to the
most recent Classe data.

Please review this report and address all critical vulnerabilities as soon as
possible. If you have any questions please send an e-mail to infosec@umm.edu

Thank you
